
<div class="topnav">
  <a routerLink="home" routerLinkActive="active">Home</a>
  <a  routerLink="register" routerLinkActive="active">Register</a>
  <a  routerLink="login" routerLinkActive="active" >Login</a>
  <a  routerLink="login" class="logout" >Logout</a>
  <a class="nvLinks" >About</a>
</div>
<router-outlet>
</router-outlet>


<footer class="site-footer">
  <div class="container">
    <div class="row ">
      <div class="col-12">
        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
          <a href="https://github.com/NatBLida68">ash</a>.
        </p>
      </div>

    </div>
  </div>
</footer>
