
<div class="topnav">
  <a routerLink="home" routerLinkActive="active">Home</a>
  <a  routerLink="welcome" routerLinkActive="active">Welcome</a>
  <a class="nvLinks" >News</a>
  <a class="nvLinks" >Contact</a>
  <a class="nvLinks" >About</a>
</div>
<router-outlet></router-outlet>


<footer class="site-footer">
  <div class="container">
    <div class="row ">
      <div class="col-12">
        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
          <a href="https://github.com/NatBLida68">ash</a>.
        </p>
      </div>

    </div>
  </div>
</footer>
